.cards__item{
    margin-block-start: 0;
    margin-block-end: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;
}

.cards__item >*:nth-child(1){
    margin-top: 60px;
}

.cards__item >*:nth-child(2){
    margin-top: 43px;
}

.cards__item >*:nth-child(3){
    margin-top: 16px;
}
